<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to Photo Library</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow access to see your location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please allow access to see your location</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans_Condensed-Bold.ttf</string>
		<string>OpenSans_Condensed-BoldItalic.ttf</string>
		<string>OpenSans_Condensed-ExtraBold.ttf</string>
		<string>OpenSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>OpenSans_Condensed-Italic.ttf</string>
		<string>OpenSans_Condensed-Light.ttf</string>
		<string>OpenSans_Condensed-LightItalic.ttf</string>
		<string>OpenSans_Condensed-Medium</string>
		<string>OpenSans_Condensed-MediumItalic.ttf</string>
		<string>OpenSans_Condensed-Regular.ttf</string>
		<string>OpenSans_Condensed-SemiBold.ttf</string>
		<string>OpenSans_Condensed-SemiBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Bold.ttf</string>
		<string>OpenSans_SemiCondensed-BoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBold.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Italic.ttf</string>
		<string>OpenSans_SemiCondensed-Light.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-MediumItalic.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBold.ttf</string>
		<string>OpenSans_SemiCondensed-Regular.ttf</string>
		<string>OpenSans_SemiCondensed-MediumItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Medium.ttf</string>
		<string>OpenSans_SemiCondensed-LightItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
